<form id="login-form">
    <div>
        <label for="username-input-login">Username</label>
        <input id="username-input-login" type="text" name="username" />
    </div>
    <div>
        <label for="password-input-login">Password</label>
        <input id="password-input-login" type="password" name="password" />
    </div>
    <div>
        <button type="submit" id="login-btn" class="btn">Login</button>
        <a href="/signup">Sign up here!</a>
    </div>
</form>

<script src="/public/js/login.js"></script>