<div class="post card">
    <div class="card-header">
        <h1>Create A New Post</h1>
    </div>
    <form id="new-post-form" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" class="form-input" name="post-title" />

        <label for="post-body" class="form-label">Content</label>
        <textarea class="form-input" name="post-body"></textarea>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>

<script src="/public/js/add-post.js"></script>