<div class="card">
    <div class="card-header">
        <h1>Sign Up</h1>
    </div>
    <div id="signup" role="tabpanel">
        <form class="card-body" id="signup-form">
            <div>
                <label for="username-input-signup">Username</label>
                <input id="username-input-signup" type="text" placeholder="Username">
            </div>
            <div>
                <label for="password-input-signup">Password</label>
                <input id="password-input-signup" type="password" placeholder="Password">
            </div>
            <button type="submit" id="signup-btn" class="btn">Signup</button>
            <a href="../views/login.handlebars">Login here</a>
        </form>
    </div>
</div>

<script src="/public/js/signup.js"></script>